body {
    margin: 0;
    padding: 0;
}

.greybox {
    width: 100%;
    height: 80px;
    background-color: #ccc;
    padding: 10px;
    
}

.square {
    width: 80px;
    height: 80px;
    background-color:rgb(8, 120, 224);
    margin-left: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

.textbox {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 20vh;
    background-color: white;
}

h1 {
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

.color1 {
    width: 100%;
    height: 80px;
    background-color: rgb(70, 125, 226);
    padding: 26px;
}

.color2 {
    width: 100%;
    height: 80px;
    background-color: rgb(105, 231, 204);
    padding: 26px;
}

.color3 {
    width: 100%;
    height: 80px;
    background-color: rgb(188, 224, 154);
    padding: 26px;
}

.color4 {
    width: 100%;
    height: 80px;
    background-color: rgb(217, 255, 0);
    padding: 26px;
    position:
}


